@import "bootstrap-sprockets";
@import "bootstrap";


@font-face {
    font-family: 'beryliumregular';
    src: url('/assets/berylium-webfont.woff2') format('woff2'),
         url('/assets/berylium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'beryliumbold';
    src: url('/assets/beryliumbold-webfont.woff2') format('woff2'),
         url('/assets/beryliumbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.booyah-box {
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0;
  background:#fff;
  border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

body {
  background: url('/assets/contemporary_china.png');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar.navbar-inverse {
  background: url('/assets/tweed.png');
  border-radius: 0;
  box-shadow: 2px 3px 6px grey;
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
  color: #00D639;
  font-family: 'beryliumbold';
  font-size: 26px;
}

.pagination {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;
}

#map {
    height: 400px;
  }

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto auto;
}

.photo-caption {
  text-align: center;
  background-color: #ededed;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 550px;
    width: 100%;
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 2px 2px;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  position:absolute;
  left:0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

#green-links a {
  color: #0ead00;
}

.greenrule {
    border: 0;
    height: 3px;
    width: 400px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #0ead00, rgba(0, 0, 0, 0));
}
